API_KEY: <FILL IN>
output_folder: data
channel_ids:
  - UCIGEBB32IQdzLOhEtlSP06g # Chase Chappell
  - UC8HGfwObJ9DwbRX3xmwg1xg # Nathan Nazareth
  - UCRxQIZXV8w76t693nxP2Gaw # Davie Fogarty Mentors
  - UC11BGYIZzC_uZI6nrUiDqug # Andy Stauring
  - UCLhGJKr4_DC_11GNOI2wOzQ # Alex Chen Ecom
  - UCQqc2lZ2GpZR3gPgbJsANKg # Thomas v/d Leck
  - UC8IkxLJqN-xweE1A7Zb7q-g # Millionaire Commerce (NL)
  - UC5deKm1RRbcoUIuLuSCFprg # Jordan Welch
  - UCkRbLkvUX5zuwnKOBwFHOjg # Mark Builds Brands
  - UCsZHgjREb2YZoN6G3JqFZvg # Steve Tan
  - UClfmfiCecQnsrD4c5ralbpw # Romas Ecom
  - UC3qB4xFJkl0EYoTVbhnn0OQ # Ac Hampton
